main {
    
}
main section {
    max-width: 1250px; margin: 0 auto;
}
main section .title {
    padding: 40px 0;
}
main section .title h1 {
    font-size: 1.875rem; font-weight: 600;
    color: #4f4f4f;
}
main section .shopInfo {}
main section .shopInfo .detail {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    border-top: 1px solid rgba(79, 79, 79, 0.15);
    border-bottom: 1px solid rgba(79, 79, 79, 0.15);
}
main section .shopInfo .detail .product {
    display: flex; flex-flow: column nowrap;
}
main section .shopInfo .detail .product .productInfo {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    padding: 12px 0;
}
main section .shopInfo .detail .product .productInfo .chk01 {
    margin-right: 16px;
}
main section .shopInfo .detail .product .productInfo h2 {
    font-size: 0.875rem; 
    color: #4f4f4f99;
}
main section .shopInfo .detail .product .productDetail {
    width: 760px;
    display: flex; flex-flow: row nowrap;
    border-top: 1px solid rgba(79, 79, 79, 0.15);
    border-right: 1px solid rgba(79, 79, 79, 0.15);
    padding: 20px 0;
}
main section .shopInfo .detail .product .productDetail .chk02 {
    margin-right: 16px;
}
main section .shopInfo .detail .product .productDetail .productImg {
    margin-right: 16px;
}
main section .shopInfo .detail .product .productDetail .productImg img {
    width: 80px;
}
main section .shopInfo .detail .product .productDetail .info {
    display: flex; flex-flow: column nowrap;
    padding: 0 10px;
}
main section .shopInfo .detail .product .productDetail .info .top {
    display: flex; justify-content: space-between;
}
main section .shopInfo .detail .product .productDetail .info .top a {
    font-size: 0.938rem;
    color: #4f4f4f;
    padding-bottom: 10px;
}
main section .shopInfo .detail .product .productDetail .info .top .closeBtn02 {}
main section .shopInfo .detail .product .productDetail .info .top .closeBtn02 img {
    width: 12px;
}
main section .shopInfo .detail .product .productDetail .info .option {
    width: 440px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    padding: 10px;
    background: #4f4f4f08;
}
main section .shopInfo .detail .product .productDetail .info .option p {
    font-size: 0.831rem;
    color: #4f4f4f;
}
main section .shopInfo .detail .product .productDetail .info .option p span {
    font-size: 0.625rem;
    color: #4f4f4f;
    padding: 1px 3px;
    margin-right: 5px;
    border-radius: 2px;
    border: 1px solid #4f4f4f;
}
main section .shopInfo .detail .product .productDetail .info .option .closeBtn01 {}
main section .shopInfo .detail .product .productDetail .info .option .closeBtn01 img {
    width: 12px;
}
main section .shopInfo .detail .quantity {
    text-align: center;
}
main section .shopInfo .detail .quantity h2 {
    font-size: 0.875rem; 
    color: #4f4f4f99;
    padding: 12px 10px;
    
}
main section .shopInfo .detail .quantity .option {
    border-top: 1px solid rgba(79, 79, 79, 0.15);
    border-right: 1px solid rgba(79, 79, 79, 0.15);
    padding: 20px 30px;   
}
main section .shopInfo .detail .quantity .option p {
    font-size: 0.938rem; color: #4f4f4f;
}
main section .shopInfo .detail .quantity .option .optionChk {
    margin: 17px 0 20px 0;
    font-size: 0.75rem; color: #4f4f4f;
    padding: 7px 8px;
    border: 1px solid #4f4f4f;
    border-radius: 2px;
}
main section .shopInfo .detail .price {
    text-align: center;
}
main section .shopInfo .detail .price h2 {
    font-size: 0.875rem; 
    color: #4f4f4f99;
    padding: 12px 0;
}
main section .shopInfo .detail .price .rightnow {
    padding: 20px 30px;
    border-top: 1px solid rgba(79, 79, 79, 0.15);
    border-right: 1px solid rgba(79, 79, 79, 0.15);
}
main section .shopInfo .detail .price .rightnow .allprice {
    font-size: 1.25rem; color: #4f4f4f; font-weight: 600;
}
main section .shopInfo .detail .price .rightnow .purchase {
    margin: 10px 0 20px 0;
    font-size: 0.75rem; color: #4f4f4f;
    padding: 7px 8px;
    border: 1px solid #4f4f4f;
    border-radius: 2px;
}
main section .shopInfo .detail .delivery {
    text-align: center;
}
main section .shopInfo .detail .delivery h2 {
    font-size: 0.875rem; 
    color: #4f4f4f99;
    padding: 12px 0;
}
main section .shopInfo .detail .delivery .data {
    padding: 20px 30px;
    border-top: 1px solid rgba(79, 79, 79, 0.15);
    border-right: 1px solid rgba(79, 79, 79, 0.15);
    display: flex; flex-flow: row nowrap;
}
main section .shopInfo .detail .delivery .data .free {
    font-size: 0.938rem; color: #4f4f4f; font-weight: 600;
    padding: 27px 0;
}
main section .shopInfo .detail .delivery .data .dataChk {}
main section .shopInfo .detail .delivery .data .dataChk img {
    width: 12px;
}
main section .shopInfo .detail .delivery .deli {
    font-size: 0.75rem; color: #4f4f4f;
}
main section .shopInfo .selectDelete {}
main section .shopInfo .selectDelete .btn {}
main section .shopInfo .selectDelete .btn .choice {}
main section .shopInfo .selectDelete .btn .outOfStock {}
main section .shopInfo .selectDelete p {}
main section .allprice {}
main section .allprice p {}
main section .allprice p span {}
main section .order {}
main section .order .rightOrder {}
main section .order .naverpay {}
main section .order .continueShopping {}
