/* 로그인 팝업 */
.loginPop {background-color: #212121;}
.loginPop .login {
    width: 370px; background-color:#fff;
    padding: 30px;
}
.loginPop .login .top {text-align: center; position: relative;}
.loginPop .login .top h1 {
    font-size: 1.5rem; color: #212121; font-weight: 700;
}
.loginPop .login .top .closeLogin {
    position: absolute; right: 1px; top: 1px;
} 
.loginPop .login .top .closeLogin img {height: 20px;} 
.loginPop .login #loginPage {width: 310px;}
.loginPop .login #loginPage fieldset {}
.loginPop .login #loginPage fieldset #frmId {
    width: 100%; border: 1px solid #d4d4d4;
    border-bottom: none;
    padding: 12px 16px;
    margin-top: 30px; 
}
.loginPop .login #loginPage fieldset #frmPw {
    width: 100%; border: 1px solid #d4d4d4; 
    padding: 12px 16px;
    margin-bottom: 15px;
}
.loginPop .login #loginPage fieldset label {
    font-size: 0.75rem; color: #212121; 
    display: block;
}
.loginPop .login #loginPage fieldset label #chkBtn {
    width: 15px; background: #4f4f4f; 
    border: 1px solid #4f4f4f; 
    margin: 0 5px 15px 0;
}
.loginPop .login #loginPage fieldset .loginSel {
    height: 40px; color: #4f4f4f; border: 1px solid #d4d4d4;
    padding: 10px 20px; display: block; text-align: center;
}
.loginPop .login #loginPage fieldset .joinSearch {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin: 10px 0;
}
.loginPop .login #loginPage fieldset .joinSearch a {
    font-size: 0.75rem; color: #000; font-weight: 500;
}
.loginPop .login #loginPage fieldset span {}
.loginPop .login #loginPage fieldset span span {}
.loginPop .login #loginPage fieldset a {}
.loginPop .login #loginPage fieldset .naverAndKakao {
    display: flex; flex-flow: column nowrap; margin: 10px 0;
}
.loginPop .login #loginPage fieldset .naverAndKakao .naver {
    background: #27d34a; height: 42px; padding: 10px 25px;
    color: #fff;
}
.loginPop .login #loginPage fieldset .naverAndKakao .kakao {
    background: #ffeb00; height: 42px; padding: 10px 25px; margin: 10px 0;
    color: #fff;
}
.loginPop .login #loginPage fieldset .naverAndKakao .naver img, 
.loginPop .login #loginPage fieldset .naverAndKakao .kakao img {height: 24px;}
.loginPop .login #loginPage fieldset .nonShipping {}
/* 아이디 비밀번호 찾기 */
.loginPop .searchBox {background: violet;}
.loginPop .searchBox .title {}
.loginPop .searchBox .title h1 {}
.loginPop .searchBox .title .closeIdpw {}
.loginPop .searchBox .searchIdPw {}
.loginPop .searchBox .searchIdPw a {}
.loginPop .searchBox .searchIdPw a h2 {}
/* 아이디 찾기 */
.loginPop .searchBox #idpwBox {background: tomato;} 
.loginPop .searchBox #idpwBox fieldset {}
.loginPop .searchBox #idpwBox fieldset .searchId {}
.loginPop .searchBox #idpwBox fieldset .searchId span {}
.loginPop .searchBox #idpwBox fieldset .searchId label {}
.loginPop .searchBox #idpwBox fieldset .searchId label #selectBox {}
.loginPop .searchBox #idpwBox fieldset .searchId #emailId {}
.loginPop .searchBox #idpwBox fieldset .searchId #name {}
.loginPop .searchBox #idpwBox fieldset .searchId #phNumber {}
.loginPop .searchBox #idpwBox fieldset .searchId .findIdPw {}
/* 비밀번호찾기 */
.loginPop .searchBox #idpwBox fieldset .searchPw {background: slateblue;}
.loginPop .searchBox #idpwBox fieldset .searchPw #joinId {}
.loginPop .searchBox #idpwBox fieldset .searchPw a {}
/* 비회원 배송 조회 */
.loginPop {background: sandybrown;}
.loginPop .nondelivery {}
.loginPop .nondelivery .title {}
.loginPop .nondelivery .title h1 {}
.loginPop .nondelivery .title a {}
.loginPop .nondelivery #delivery {}
.loginPop .nondelivery #delivery fieldset {}
.loginPop .nondelivery #delivery fieldset #orderNum {}
.loginPop .nondelivery #delivery fieldset #adressNum {}
.loginPop .nondelivery #delivery fieldset a {}
/* 조인 팝업창 */
.joinWrap {background: cadetblue;}
.joinWrap .joinPop {}
.joinWrap .joinPop .title {}
.joinWrap .joinPop .title h1 {}
.joinWrap .joinPop .title .joinCloseBtn {}
.joinWrap .joinPop a {}
.joinWrap .joinPop span {}
.joinWrap .joinPop span span {}
.joinWrap .joinPop a .naver {}
.joinWrap .joinPop a .kakao {}
/* 약관동의 */
.joinWrap .terms {}
.joinWrap .terms .container {}
.joinWrap .terms .container .title {}
.joinWrap .terms .container .title h1 {}
.joinWrap .terms .container .title a {}
.joinWrap .terms .container #terms {}
.joinWrap .terms .container #terms fieldset {}
.joinWrap .terms .container #terms fieldset #chkAll {}
.joinWrap .terms .container #terms fieldset .agree {}
.joinWrap .terms .container #terms fieldset .agree {}
.joinWrap .terms .container #terms fieldset .mainChk1 {}
.joinWrap .terms .container #terms fieldset .mainChk1 .chk {}
.joinWrap .terms .container #terms fieldset .mainChk1 .agree1 {}
.joinWrap .terms .container #terms fieldset .mainChk1 .agree1 span {}
/* 이용약관 텍스트 박스 */
.joinWrap .terms .container #terms fieldset .mainChk1 .textBox {}
.joinWrap .terms .container #terms fieldset .mainChk1 .textBox h2 {}
.joinWrap .terms .container #terms fieldset .mainChk1 .textBox p {}
/* 개인정보 동의 텍스트 박스 */
.joinWrap .terms .container #terms fieldset .mainChk2 .chk {}
.joinWrap .terms .container #terms fieldset .mainChk2 .agree1 {}
.joinWrap .terms .container #terms fieldset .mainChk2 .agree1 span {}
.joinWrap .terms .container #terms fieldset .mainChk2 .textBox {}
.joinWrap .terms .container #terms fieldset .mainChk2 .textBox h2 {}
.joinWrap .terms .container #terms fieldset .mainChk2 .textBox p {}
.joinWrap .terms .container #terms fieldset .mainChk2 .textBox p {}
.joinWrap .terms .container #terms fieldset .mainChk2 .agree {}
.joinWrap .terms .container #terms fieldset .mainChk2 .agree span {}
.joinWrap .terms .container #terms fieldset .selectBtn {}
.joinWrap .terms .container #terms fieldset .selectBtn .reserBtn {}
.joinWrap .terms .container #terms fieldset .selectBtn .signupBtn {}
.joinWrap .terms .container #terms fieldset .selectBtn .signupBtn a {}
/* 가입하기 */
.signContainer {}
.signContainer .wrap {}
.signContainer .wrap .title {}
.signContainer .wrap .title h1 {}
.signContainer .wrap .title h1 a {}
.signContainer .wrap .title h1 a .signCloseBtn {}
.signContainer .wrap .container {}
.signContainer .wrap .container #signUp {}
.signContainer .wrap .container #signUp fieldset {}
.signContainer .wrap .container #signUp fieldset .photo {}
.signContainer .wrap .container #signUp fieldset .photo a {}
.signContainer .wrap .container #signUp fieldset .photo .phOption {}
.signContainer .wrap .container #signUp fieldset .photo .phOption a {}
.signContainer .wrap .container #signUp fieldset .idPw {}
.signContainer .wrap .container #signUp fieldset .idPw #email {}
.signContainer .wrap .container #signUp fieldset .idPw #pw {}
.signContainer .wrap .container #signUp fieldset .idPw #rePw {}
.signContainer .wrap .container #signUp fieldset .name {}
.signContainer .wrap .container #signUp fieldset .name h2 {}
.signContainer .wrap .container #signUp fieldset .name #userName {}
.signContainer .wrap .container #signUp fieldset .gender {}
.signContainer .wrap .container #signUp fieldset .gender h2 {}
.signContainer .wrap .container #signUp fieldset .gender .male {}
.signContainer .wrap .container #signUp fieldset .gender .female {}
.signContainer .wrap .container #signUp fieldset .num {}
.signContainer .wrap .container #signUp fieldset .num h2 {}
.signContainer .wrap .container #signUp fieldset .num #userNumber {}
.signContainer .wrap .container #signUp fieldset h2 {}
.signContainer .wrap .container #signUp fieldset .birth {}
.signContainer .wrap .container #signUp fieldset .birth .year {}
.signContainer .wrap .container #signUp fieldset .birth .year option {}
.signContainer .wrap .container #signUp fieldset .birth .month {}
.signContainer .wrap .container #signUp fieldset .birth .month option {}
.signContainer .wrap .container #signUp fieldset .birth .day {}
.signContainer .wrap .container #signUp fieldset .birth .day option {}
.signContainer .wrap .container #signUp fieldset .sign {}
.signContainer .wrap .container #signUp fieldset .sign .signUp {}
/* 일회성 광고창 */
.popUp {width: 1920px; position: relative;}
.popUp .couponTop {}
.popUp .couponTop img {width: 100%;}
.popUp .close {
    display: flex; flex-flow: row nowrap;
    position: absolute; right: 0; top: 0;
    align-items: center;
    margin: 5px 10px 0;
}
.popUp .close span {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.838rem;
}
.popUp .close .closePop {width: 30px;}
/* header */
header {}
/* 태블릿, 모바일 */
header .mMenuWrap {display: none;}
header .mMenuWrap .mMenuLeft {}
header .mMenuWrap .mMenuLeft .mLogin {}
header .mMenuWrap .mMenuLeft nav {}
header .mMenuWrap .mMenuLeft nav .gnb {}
header .mMenuWrap .mMenuLeft nav .gnb li {}
header .mMenuWrap .mMenuLeft nav .gnb li a {}
header .mMenuWrap .mMenuLeft nav .gnb li .lnb {}
header .mMenuWrap .mMenuLeft nav .gnb li .lnb li {}
header .mMenuWrap .mMenuLeft nav .gnb li .lnb li a {}
header .mMenuWrap .mMenuLeft nav .language {}
header .mMenuWrap .mMenuLeft nav .language .lang {}
header .mMenuWrap .mMenuLeft nav .language .lang .langSelect {}
header .mMenuWrap .mMenuLeft nav .language .langOpen {}
header .mMenuWrap .mMenuLeft nav .language .langOpen .langKo {}
header .mMenuWrap .mMenuLeft nav .language .langOpen .langEn {}
header .mMenuWrap .mMenuLeft nav .language .closeBtn {}
/* 데스크탑 메뉴 */
header .mainMenu {
    display: flex; flex-flow: row nowrap; margin: 0 auto;
    justify-content: space-between; align-items: center;
    margin: 30px 60px;
}
/* 태블릿, 모바일 메뉴 (햄버거) */
header .mainMenu .mMenu {display: none;}
/* 태블릿, 모바일 메인로고 */
header .mainMenu .mLogo {display: none;}
header .mainMenu .mLogo a {}
header .mainMenu .mLogo a img {}
/* 데스크탑 메인로고 */
header .mainMenu .dLogo {}
header .mainMenu .dLogo a {}
header .mainMenu .dLogo a img {width: 103.16px;}
/* 데스크탑 메인 카테고리 */
header .mainMenu nav {}
header .mainMenu nav .gnb {
    display: flex; flex-flow: row nowrap; 
}
header .mainMenu nav .gnb li {}
header .mainMenu nav .gnb li a { 
    font-size: 0.938rem; letter-spacing: 2px; font-family: 'Cardo', serif;
    color: #212121; padding: 0 30px;
}
header .mainMenu nav .gnb li .lnb {}
header .mainMenu nav .gnb li .lnb li {     display: none;
    color: #797979; padding: 8px 0; border: 1px solid #e5e5e5;
}
header .mainMenu nav .gnb li .lnb li a {
    font-size: 0.75rem; color: #212121;
}
header .mainMenu .menuRight {
    display: flex; flex-flow: row nowrap; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.813rem;
}
/* 태블릿, 모바일 메뉴 동일 */
header .mainMenu .menuRight a {}
header .mainMenu .menuRight a:last-child {padding: 0;}
header .mainMenu .menuRight > a::after {
    content: ''; display: inline-block;
    width: 1px ; height: 10px;
    background-color: #4f4f4f;
    margin: 0 15px;
}
header .mainMenu .menuRight .advertise {position: relative;}
/* 태블릿, 모바일 모드에서 join 없어짐 */
header .mainMenu .menuRight .advertise .join {}
header .mainMenu .menuRight .advertise .couponBtn {
    width: 125.36px; background-color: #4f4f4f;
    font-size: 0.75rem; color: #fff; font-family: Arial, Helvetica, sans-serif;
    position: absolute; right: -50px; top: 25px; 
    border-radius: 5px; padding: 5px 8px;
}
/* -------------------------------------------------------------------------- */
/* footer */
footer {width: 100%;}
footer .top {
    border-top: 1px solid #4f4f4f;
    margin: 30px 300px 30px 300px;
}
footer .top p:nth-child(1) {}
footer .top p:nth-child(3),
footer .top p:nth-child(4) {opacity: 0.3;}
footer .top h2 {
    font-family: 'Cardo', serif; font-size: 1.875rem; color: #4f4f4f; 
    padding: 20px 0;
}
footer .top p {font-size: 0.75rem; margin-bottom: 5px; align-items: center;}
footer .top p img {height: 11px; text-align: center; margin-right: 5px;}
footer .top p strong {font-size: 1.5rem; color: #4f4f4f;}
footer .bottomBg {background-color: #fafafa;}
footer .bottomBg .bottom {
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    padding: 20px 300px 20px 300px;
}
footer .bottomBg .bottom .add {padding-bottom: 20px;}
footer .bottomBg .bottom .add a:nth-child(3) {font-weight: 700;}
footer .bottomBg .bottom .add a {font-size: 0.75rem; color: #3B3B3B; margin:0 15px 10px 0;}
footer .bottomBg .bottom .add .sns {position: absolute; right: 550px;}
footer .bottomBg .bottom .add .sns .instagram {}
footer .bottomBg .bottom .add .sns .youTube {}
footer .bottomBg .bottom .add .sns .instagram img {height: 20px;}
footer .bottomBg .bottom .add .sns .youTube img {height: 20px;}
footer .bottomBg .bottom p {font-weight: 500;}
footer .bottomBg .bottom .addTitle {
    color: #3B3B3B; margin-bottom: 10px;
}
footer .bottomBg .bottom address {
    font-size: 0.75rem; color: #696969; line-height: 1.7; letter-spacing: 0.7px;
}
footer .bottomBg .bottom address a {color: #696969;}
footer .bottomBg .bottom address em {color: #3B3B3B; font-weight: 500;}
/* 푸터내에 이용약관, 개인정보처리방침 팝업창 */
/* 이용약관 */
.terms {}
.terms .utiliTitle {}
.terms .utiliTitle .utiliBody {
    background-color: steelblue; width: 600px;
}
.terms .utiliTitle .utiliBody .top{
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding: 25px;
}
.terms .utiliTitle .utiliBody .top h1 {font-size: 1.125rem; color: #212121;}
.terms .utiliTitle .utiliBody .top .closeBtn {}
.terms .utiliTitle .utiliBody .top .closeBtn img {}
.terms .utiliTitle .utiliBody h2, p {
    font-size: 0.75rem; color: #212121;
}
.terms .utiliTitle .utiliBody h2 {
}
.terms .utiliTitle .utiliBody p {}
/* 개인정보처리방침 */
.terms .policyTitle {}
.terms .policyTitle .policyBody {background: tomato; width: 600px;}
.terms .policyTitle .policyBody h1 {font-size: 1.125rem; color: #212121;}
.terms .policyTitle .policyBody .closeBtn {}
.terms .policyTitle .policyBody h2, p {font-size: 0.75rem; color: #212121;}
.terms .policyTitle .policyBody h2 {}
.terms .policyTitle .policyBody p {}