/* main */
main {background-color: aqua;}
/* section-1 */
main .productPage {background-color: brown;}
/* 태블릿, 모바일 슬라이드 화면 */
main .productPage .slide {}
main .productPage .slide .selectSlide {}
main .productPage .slide .selectSlide .left:nth-child(1) {}
main .productPage .slide .selectSlide .left:nth-child(2) {}
main .productPage .slide .selectSlide .left:nth-child(3) {}
main .productPage .slide .selectSlide .left {}
main .productPage .slide .selectSlide .left h1 {
    font-family: 'Cardo', serif; font-size: 2rem;
}
main .productPage .slide .selectSlide .left h1 em {}
main .productPage .slide .selectSlide .left .boldTxt {}
main .productPage .slide .selectSlide .left p{
    font-size: 1rem;
}
main .productPage .slide .selectSlide .left a {}
main .productPage .slide .selectSlide .left .shopBtn {}
main .productPage .slide .prev {}
main .productPage .slide .next {}
/* section-2 */
main .sleepPage {}
main .sleepPage title {}
main .sleepPage title h2 {}
main .sleepPage title p {}
main .sleepPage .sleepLeft {}
main .sleepPage .sleepLeft h3 {}
main .sleepPage .sleepLeft h3 span {}
main .sleepPage .sleepLeft p {}
main .sleepPage .sleepLeft .moreBtn {}
main .sleepPage p {}
main .sleepPage p img {}
/* section-3_이벤트 페이지 */
main .eventPage {}
main .eventPage a {}
main .eventPage a h2 {}
main .eventPage a p {}
/* section-4 */
main .deeperPage {}
main .deeperPage .title {}
main .deeperPage .title h2 {}
main .deeperPage .title p {}
main .deeperPage .title p span {}
main .deeperPage .healthier {}
main .deeperPage .healthier .health {}
main .deeperPage .healthier .health .cilcle {}
main .deeperPage .healthier .health .cilcle img {}
main .deeperPage .healthier .health h3 {}
main .deeperPage .veganBnr {}
main .deeperPage .veganBnr img {}
/* section-5 */
main .shopPage {}
main .shopPage .title {}
main .shopPage .title h2 {}
main .shopPage .title h2 p {}
main .shopPage .productItem {}
main .shopPage .productItem .item {}
main .shopPage .productItem .item p {}
main .shopPage .productItem .item p img {}
main .shopPage .productItem .item .colorSelect {}
main .shopPage .productItem .item .colorSelect .white {}
main .shopPage .productItem .item .colorSelect .brown {}
main .shopPage .productItem .item h2 {}
main .shopPage .productItem .item .price {}
main .shopPage .productItem .item .price del {}
main .shopPage .productItem .item .saleMd {}
main .shopPage .productItem .item .saleMd span {}
main .shopPage .productItem .item .saleMd .md {}
/* section-6 */
main .storyPage {}
main .storyPage .title {}
main .storyPage .title h2 {}
main .storyPage .title p {}
main .storyPage .interview {}
main .storyPage .interview a {}
main .storyPage .interview a img {}
main .storyPage .interview a img .info {}
main .storyPage .interview a img .info span {}
main .storyPage .interview .viewLink {}
/* section-7 */
main .blueBottle {}
main .blueBottle a {}
main .blueBottle a .left {}
main .blueBottle a .right {}
main .blueBottle a .right img {}
/* section-8 */
main .newsPage {}
main .newsPage .title {}
main .newsPage .title h2 {}
main .newsPage .title p {}
main .newsPage .instagram {}
main .newsPage .instagram a {}
/* section-9 */
main .goodNightPage {}
main .goodNightPage h2 {}
main .goodNightPage p {}
main .goodNightPage .moreBtn {}






